*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.item{
    color: darkblue;
}
.fimg{
    height: 60px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
footer {
 background-color: black;
}